.Button {
  position: relative;
  overflow: hidden;

  padding: 14px 50px;
  margin-right: 25px;

  font: inherit;
  font-weight: 600;
  color: #AFA376;


  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.Button:disabled {
  color: #a5a5a5;

  cursor: default;
}

.Button:last-child {
  margin-right: 0;
}

.Button:hover {
  outline: 2px solid #AFA376;
}

.Button:disabled:hover {
  outline: none;
}

.ButtonDanger {
  color: #fff;

  background-color: #AFA376;
}

.ButtonDanger:hover {
  outline: 2px solid #fff;
}

.ButtonLg {
  padding: 20px 40px;
}

.ButtonFullWidth {
  width: 100%;
}
