.LayoutContainer {
  width: 90%;
  max-width: 1500px;
  padding: 2%;

  margin: 0 auto;
}

.LayoutContent {
  display: flex;
}

@media screen and (max-width: 900px) {
  .LayoutContent {
    display: block;
  }
}