.TextInputLabel {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;

  font-size: 18px;

  border: 1px solid #fff;
}

.TextInputLabel:last-child {
  margin-bottom: 0;
}

.TextInputLabelText {
  width: 30%;
  padding: 20px 30px;
  
  color: #AFA376;
  font-weight: 600;
  text-align: center;
  
  background-color: #fff;
}

.Input {
  width: 70%;
  padding: 20px 30px;  

  font: inherit;
  color: #fff;

  background-color: transparent;
  border: none;
  outline: none;
}