.BookCard {
  padding: 12px;

  font-size: 18px;
  border: 1px solid black;
}

.BookCardRow {
  margin-bottom: 12px;
}

.BookCardRow:last-child {
  margin-bottom: 0;
}

.BookCardHeading {
  display: inline-block;
  margin: 0;
}

.BookCardText {
  display: inline-block;
  margin: 0;
}