.Plug {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 2%;

  font-size: 1.5rem;
  color: #474747;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  
  background-color: rgba(255, 255, 255, 0.29);
}